# =============================
# DATABASE
# =============================
DB_HOST=localhost
DB_PORT=5432
DB_NAME=hackaton
DB_USER=hackaton
DB_PASS=hackaton
DB_NAME_TEST=hackaton_test

# =============================
# REDIS
# =============================
REDIS_URL=redis://localhost:6379

# =============================
# JWT
# =============================
JWT_SECRET=troque-em-producao-use-string-longa-e-aleatoria
JWT_EXPIRES_IN=24h

# =============================
# AWS / LocalStack
# =============================
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
# Deixe vazio para usar AWS real. Preencha para LocalStack local:
AWS_ENDPOINT_URL=http://localhost:4566

# =============================
# S3
# =============================
S3_BUCKET_VIDEOS=hackaton-videos
S3_BUCKET_ZIPS=hackaton-zips

# =============================
# SQS
# =============================
SQS_QUEUE_URL=http://localhost:4566/000000000000/video-jobs
SQS_FAILURES_QUEUE_URL=http://localhost:4566/000000000000/video-failures

# =============================
# API SERVICE
# =============================
PORT=3001
NODE_ENV=development

# =============================
# SMTP / MAILHOG
# =============================
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_FROM=noreply@hackaton.local

# =============================
# LOGS
# =============================
LOG_LEVEL=info
